<html>
    <head>
        <title>Buster's Best Bowling Alley</title>
    </head>
    <body>
        <h1>Bet You Can't Bowl A Strike Every Time</h1>
        <p> 97 Bowling Alley Lane, Boulder CO </p>
    </body>
</html><!DOCTYPE html>
